// Define variables for your color scheme

// Purple
$purple-1300: #19071C;
$purple-1200: #310E38;
$purple-1100: #4A1555;
$purple-1000: #631C71;
$purple-900: #7B238D;
$purple-800: #942BA9;
$purple-700: #A73EBC;
$purple-600: #B65EC8;
$purple-500: #C47ED3;
$purple-400: #D39EDE;
$purple-300: #E2BFE9;
$purple-200: #F0DFF4;
$purple-100: #F6EAF8;

// Gray
$gray-1300: #040404;
$gray-1200: #101010;
$gray-1100: #1D1D1D;
$gray-1000: #383838;
$gray-900: #656565;
$gray-800: #959595;
$gray-700: #9E9E9E;
$gray-600: #B3B3B3;
$gray-500: #C2C2BF;
$gray-400: #DBDBD9;
$gray-300: #EFEFEF;
$gray-200: #F9F9F9;
$gray-100: #FDFDFD;

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
