// Define variables for your color scheme
$purple-800: #4D2B68;
$purple-500: #9D4EDD;
$purple-200: #D2A7EF;
$purple-50: #F9F1FF;

$gray-300: #D0D5DD;
$gray-200: #EAECF0;
$gray-100: #F2F4F7;

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
