// Lato Regular
@font-face {
  font-family: "Lato";
  src: font-url('lato-regular.woff2') format('woff2'),
       font-url('lato-regular.woff') format('woff'),
       font-url('lato-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

// Lato Bold
@font-face {
  font-family: "Lato";
  src: font-url('lato-bold.woff2') format('woff2'),
       font-url('lato-bold.woff') format('woff'),
       font-url('lato-bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

// Lato Black
@font-face {
  font-family: "Lato";
  src: font-url('lato-black.woff2') format('woff2'),
       font-url('lato-black.woff') format('woff'),
       font-url('lato-black.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
}
