// General style
$main-font: "Lato", "Helvetica", "sans-serif";

// Colors
$primary:    $purple-100;
$success:    $green;
$info:       $yellow;
$danger:     $red;
$warning:    $orange;

// Padding

// Margin

// Border radius
$border-radius:    8px;
$border-radius-lg: 10px;
$border-radius-sm: 6px;

// Sidebar
$sidebar-width: 15rem;

// Box shadows
$box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
