<main class="app__container">
  <header class="app__header">
    <h1>My workspaces</h1>
    <%= button_to "/workspaces", class: "button--primary" do %>
      <i class="bx bx-plus"></i>
      New workspace
    <% end %>
  </header>
  <div class="app__content">
    <%= render 'workspace_index', workspaces: @workspaces %>
  </div>
</main>
