.checklist {
  margin: 0 auto;
  width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.checklist__header {
  padding: 1rem 1.5rem;
  border-radius: $border-radius;
  border: 1px solid $gray-400;
}

.checklist__dates {
  margin-top: 1rem;
  display: flex;
  gap: 1.5rem;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
}

.checklist__date {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.checklist__description {
  margin-top: 1rem;
}

.checklist__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.checklist__section {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  border-radius: $border-radius;
  border: 1px solid $gray-400;
}

.checklist__section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.checklist__section-title__count {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
}

.checklist__steps {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.checklist__step {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.checklist__step__title {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  h3 {
    font-weight: 400;
  }
}

.checklist__step__tags {
  display: flex;
  gap: 0.5rem;
  margin-left: 1.5rem;
}

.checklist__step__tag {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
  border-radius: $border-radius;
  background-color: $gray-300;
}
