  <div>
    <%= link_to checklist_path(checklist), class: 'button--secondary' do %>
    <i class="bx bx-left-arrow-alt"></i>
    Leave editor
    <% end %>
  </div>
  <div class="actions__list">
    <div class="actions_item">New section</div>
    <div class="actions_item">New task</div>
    <div class="actions_item">Preview</div>
    <div class="actions_item">Other action</div>
  </div>
  <div>
    <%= link_to "Publish", "#", class: "button--primary" %>
  </div>
